.dark-mode-btn
    position: relative
    background: $toggle-color
    width: 61px
    height: 28px
    border-radius: 30px

    &::after
        content: ''
        width: 22px
        height: 22px
        position: absolute
        top: 50%
        right: 4px
        transform: translateY(-50%)
        border-radius: 50%
        background: $very-pale-blue-bg-color
