.cabecalho
    width: 100%
    margin-bottom: 10px

    @include desktop
        display: flex
        padding-top: 20px

    .container-txt
        width: 90%
        margin: 0 auto
        padding: 30px 0px 20px 0px
        border-bottom: 1px solid $very-dark-blue-txt-color

        @include desktop
            display: flex
            justify-content: center
            flex-direction: column
            width: 30%
            margin-left: 80px
            padding: 0
            border: 0

        h1
            font-size: 1.6em
            font-weight: 700
            color: $very-dark-blue-txt-color
            margin-bottom: 5px
        
        span
            font-size: 15px
            font-weight: 700
            color: $dark-grayish-blue-txt-color
    
    .container-dark-mode
        display: flex
        justify-content: space-between
        align-items: center
        width: 90%
        margin: 0 auto
        padding-block: 25px

        @include desktop
            margin: 0
            width: 160px
            margin-right: 80px

        span
            font-size: 16px
            font-weight: 700
            color: $dark-grayish-blue-txt-color