.sec1-dashboard
    @include defaultContainer

    @include desktop
        flex-direction: row
        margin: 30px 80px 30px 80px
        padding: 0
    

    .card 
        @include center
        @include card
        flex-direction: column
        gap: 25px
        height: 240px
        

        .container-user
            @include center
            gap: 15px

            img
                height: 25px

            span
                @include pDefault
        
        .followers
            @include center
            gap: 15px
            flex-direction: column

            .qtde-follow
                line-height: 60px
                font-size: 4em
                font-weight: 700
                letter-spacing: 2px
                color: $very-dark-blue-txt-color

            .follow
                font-weight: 400
                letter-spacing: 5px
                font-size: 15px
                color: $dark-grayish-blue-txt-color
                text-transform: uppercase

        .time
            @include center
            height: 25px
            gap: 8px

            img
                width: 11px

            .up
                @include upDefault
                color: $lime-green-color
            
            .down
                @include downDefault
                color: $bright-red-color

    .face
        &::before
            content: ''
            position: absolute
            top: 0px
            left: 0
            width: 100%
            height: 4px
            z-index: 1
            border-top-left-radius: 8px
            border-top-right-radius: 8px
            background: $facebook-color
    .tt
        &::before
            content: ''
            position: absolute
            top: 0px
            left: 0
            width: 100%
            height: 4px
            z-index: 1
            border-top-left-radius: 8px
            border-top-right-radius: 8px
            background: $twitter-color
    .insta
        &::before
            content: ''
            position: absolute
            top: 0px
            left: 0
            width: 100%
            height: 4px
            z-index: 1
            border-top-left-radius: 8px
            border-top-right-radius: 8px
            background: $gradient
    .yt
        &::before
            content: ''
            position: absolute
            top: 0px
            left: 0
            width: 100%
            height: 4px
            z-index: 1
            border-top-left-radius: 8px
            border-top-right-radius: 8px
            background: $youtube-color
