.dark-mode-btn {
  cursor: pointer;
  position: relative;
  background: hsl(230, 22%, 74%);
  width: 61px;
  height: 28px;
  border-radius: 30px;
}
.dark-mode-btn::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: hsl(225, 100%, 98%);
}

.cabecalho {
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .cabecalho {
    display: flex;
    padding-top: 20px;
  }
}
.cabecalho .container-txt {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0px 20px 0px;
  border-bottom: 1px solid hsl(230, 17%, 14%);
}
@media (min-width: 1024px) {
  .cabecalho .container-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin-left: 80px;
    padding: 0;
    border: 0;
  }
}
.cabecalho .container-txt h1 {
  font-size: 1.6em;
  font-weight: 700;
  color: hsl(230, 17%, 14%);
  margin-bottom: 5px;
}
.cabecalho .container-txt span {
  font-size: 15px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
.cabecalho .container-dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-block: 25px;
}
@media (min-width: 1024px) {
  .cabecalho .container-dark-mode {
    margin: 0;
    width: 160px;
    margin-right: 80px;
  }
}
.cabecalho .container-dark-mode span {
  font-size: 16px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}

.sec1-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .sec1-dashboard {
    flex-direction: row;
    margin: 30px 80px 30px 80px;
    padding: 0;
  }
}
.sec1-dashboard .card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 337px;
  border-radius: 6px;
  background: hsl(227, 47%, 96%);
  flex-direction: column;
  gap: 25px;
  height: 240px;
}
.sec1-dashboard .card .container-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.sec1-dashboard .card .container-user img {
  height: 25px;
}
.sec1-dashboard .card .container-user span {
  font-size: 15px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
.sec1-dashboard .card .followers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}
.sec1-dashboard .card .followers .qtde-follow {
  line-height: 60px;
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 2px;
  color: hsl(230, 17%, 14%);
}
.sec1-dashboard .card .followers .follow {
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 15px;
  color: hsl(228, 12%, 44%);
  text-transform: uppercase;
}
.sec1-dashboard .card .time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  gap: 8px;
}
.sec1-dashboard .card .time img {
  width: 11px;
}
.sec1-dashboard .card .time .up {
  font-size: 15px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  color: hsl(163, 72%, 41%) !important;
  color: hsl(163, 72%, 41%);
}
.sec1-dashboard .card .time .down {
  font-size: 15px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  color: hsl(356, 69%, 56%) !important;
  color: hsl(356, 69%, 56%);
}
.sec1-dashboard .face::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: hsl(208, 92%, 53%);
}
.sec1-dashboard .tt::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: hsl(203, 89%, 53%);
}
.sec1-dashboard .insta::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.sec1-dashboard .yt::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: hsl(348, 97%, 39%);
}

.sec2-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}
.sec2-dashboard .cabecalho-sec2 {
  padding-top: 30px;
  padding-bottom: 10px;
  width: 90%;
}
.sec2-dashboard .cabecalho-sec2 h2 {
  font-size: 1.8em;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  margin-bottom: 5px;
}
.sec2-dashboard .card {
  position: relative;
  width: 337px;
  border-radius: 6px;
  background: hsl(227, 47%, 96%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
  padding: 30px;
}
.sec2-dashboard .card .card-cabecalho, .sec2-dashboard .card .infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sec2-dashboard .card .card-cabecalho span, .sec2-dashboard .card .infos span {
  font-size: 15px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
.sec2-dashboard .card .card-cabecalho img, .sec2-dashboard .card .infos img {
  width: 27px;
}
.sec2-dashboard .card .infos .qtde {
  font-size: 2.4em;
  font-weight: 700;
  color: hsl(230, 17%, 14%);
}
.sec2-dashboard .card .infos .container-porcent {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sec2-dashboard .card .infos .container-porcent img {
  width: 11px;
}
.sec2-dashboard .card .infos .container-porcent .up {
  font-size: 15px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  color: hsl(163, 72%, 41%) !important;
  color: hsl(163, 72%, 41%);
}
.sec2-dashboard .card .infos .container-porcent .down {
  font-size: 15px;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  color: hsl(356, 69%, 56%) !important;
  color: hsl(356, 69%, 56%);
}

main {
  width: 100%;
  background: linear-gradient(to top, hsl(0, 0%, 100%) 70%, hsl(225, 100%, 98%) 30%);
}
@media (min-width: 1024px) {
  main {
    background: linear-gradient(to top, hsl(0, 0%, 100%) 88%, hsl(225, 100%, 98%) 12%);
  }
}

.dark-theme {
  background: linear-gradient(to top, hsl(230, 17%, 14%) 70%, hsl(232, 19%, 15%) 30%) !important;
}
.dark-theme .cabecalho .container-txt {
  border-bottom: 1px solid hsl(228, 28%, 20%) !important;
}
.dark-theme .cabecalho .container-txt h1 {
  color: hsl(0, 0%, 100%) !important;
}
.dark-theme .cabecalho .container-txt span {
  color: hsl(228, 34%, 66%) !important;
}
.dark-theme .cabecalho .container-dark-mode span {
  color: hsl(228, 34%, 66%) !important;
}
.dark-theme .cabecalho .container-dark-mode .dark-mode-btn {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)) !important;
}
.dark-theme .cabecalho .container-dark-mode .dark-mode-btn::after {
  background: hsl(230, 17%, 14%) !important;
}
.dark-theme .sec1-dashboard .card {
  background: hsl(228, 28%, 20%) !important;
}
.dark-theme .sec1-dashboard .card .container-user span {
  color: hsl(228, 34%, 66%) !important;
}
.dark-theme .sec1-dashboard .card .followers .qtde-follow {
  color: hsl(0, 0%, 100%) !important;
}
.dark-theme .sec1-dashboard .card .followers .follow {
  color: hsl(228, 34%, 66%) !important;
}
.dark-theme .sec2-dashboard .cabecalho-sec2 h2 {
  color: hsl(0, 0%, 100%) !important;
}
.dark-theme .sec2-dashboard .card {
  background: hsl(228, 28%, 20%) !important;
}
.dark-theme .sec2-dashboard .card .card-cabecalho span, .dark-theme .sec2-dashboard .card .infos span {
  color: hsl(228, 34%, 66%) !important;
}
.dark-theme .sec2-dashboard .card .infos .qtde {
  color: hsl(0, 0%, 100%) !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

/*# sourceMappingURL=style.css.map */
